$bg-color: #f0f0f0;

//960px未満(タブレット)------------------------------------------------------------------

@media screen and (max-width: 959px) {
  //common
  //humberger menue
  .fv-right {
    margin: 30px 58px 0 0;
    img {
      width: 61px;
      height: 13px;
    }
  }
  #menu-bg {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
  }

  #menu-body {
    // サイドバー
    margin: 0 auto;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 80%;
    height: 100%;
    transform: translateX(200%);
    transition: 0.3s ease;

    &.open {
      transform: translateX(40%);
      transition: 0.3s ease;
    }
    #menu-close {
      width: 60px;
      height: 13px;
      margin: 36px 0px 130px 300px;
    }
  }

  //HOME tablet
  .fv {
    height: 890px;
    background-size: 600px 640px, 560px 737px;

    .fv-head {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .fv-logo {
        margin: 20px 0 0 15px;
      }
    }
    .main-copy {
      //   margin: 88px 149px 256px 954px; /*top: 157-69=88*/
      margin: 88px 149px 256px 440px; /*top: 157-69=88*/
    }
  }

  .section-about {
    position: relative;
    padding-top: 100px;
    width: 100%;

    .section-about-img {
      text-align: center;

      img {
        // width: 1100px;
        width: auto;
        height: 607px;
      }
    }
    .section-about-txt {
      width: 590px;
      height: 380px;

      position: absolute;
      right: 0px;
      bottom: 150px;
      left: 0;
      margin: auto;
    }
    a {
      margin: 0 0 50px 30px;
    }
  }

  .section-w-c {
    padding: 80px 0 60px 30px;
    display: block;

    .secion-work {
      margin-right: 60px;
      margin-bottom: 80px;
    }
  }

  .section-topics {
    display: block;
    margin: 60px 30px;

    .section-topics-left {
      text-align: left;
      margin-bottom: 30px;
    }

    .section-topics-center {
      margin: 0;
      text-align: left;
    }
  }

  .section-recruit {
    display: block;
    padding: 60px 0 120px 0;
    background-color: $bg-color;

    .section-recruit-left {
      margin-left: 30px;

      p {
        font-weight: 16px;
        font-family: YuGothic;
        margin-bottom: 30px;
        margin-right: 80px;
      }
    }

    img {
      margin-left: 30px;
    }
    .section-recruit-right {
      margin-top: 30px;
    }
  }

  //about tablet
  .fv-about-us {
    height: 460px;
    background-image: url("~@/assets/img/about-main-tablet.png"),
      url("~@/assets/img/bg_kv.png");
    // background-size: 1100px 390px, 780px 460px;
    background-size: 580px 390px, 400px 460px;
  }

  .main-copy {
    // margin: 88px 149px 256px 800px;
    margin: 88px 0px 256px 340px;

    p {
      //   font-size: 20px;
      font-size: 16px;
    }
    h1 {
      //   font-size: 72px;
      font-size: 52px;
    }
  }

  .ceo {
    margin: 0 50px;
    padding-top: 120px;
    position: relative;

    .ceo-img {
      position: absolute;
      top: 80px;
      left: -20px;
      margin: auto;
    }
    img {
      width: 420px;
      height: 280px;
    }

    .ceo-txt {
      //   width: 770px;
      width: 100%;
    }
  }

  .conpany {
    padding-top: 120px;
    margin: 0 170px;

    table {
      margin: 0 0 0 auto;
      width: 70%;
      td {
        border-bottom: solid #dddddd 1px;
        padding: 18px 0 18px 0;
      }
    }
    .table-left {
      font-weight: 16px;
      font-family: YuGothic;
      font-weight: bold;
    }
  }

  .map {
    // margin: 0 170px;
    margin: 0 30px;
    iframe {
      width: 100%;
    }
  }

  //contact tablet
  .fv-contact {
    height: 460px;
    background-image: url("~@/assets/img/contact-main-tablet.png"),
      url("~@/assets/img/bg_kv.png");
    background-size: 570px 390px, 400px 460px;

    .main-copy {
      margin: 70px 149px 256px 430px;
    }
  }
  .contact {
    // width: 70%;
    width: 90%;
  }
}

//560px未満(スマホ)------------------------------------------------------------------
@media screen and (max-width: 559px) {
  //common
  .readmore {
    background-color: black;
    color: #fff;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    font-weight: bold;
  }

  .ttl {
    font-size: 32px;
    font-family: Montserrat;
    margin-bottom: 30px;
  }

  .fv-head {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .fv-logo {
      margin: 20px 0 0 15px;
    }
  }

  .main-copy {
    color: #fff;
    margin: 88px 149px 256px 800px; /*top: 157-69=88*/

    p {
      font-size: 20px;
      font-weight: bold;
    }
    h1 {
      font-size: 72px;
      font-weight: 800;
      font-family: Montserrat;
    }
    .main-copy-txt1 {
      font-family: YuGothic;
      margin-bottom: 0px;
    }
  }

  //humberger menue
  .fv-right {
    // margin: 30px 58px 0 0;
    margin: 30px 15px 0 0;
    img {
      width: 61px;
      height: 13px;
    }
  }
  #menu-bg {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;

    &.open {
      display: block;
    }
  }

  #menu-body {
    // サイドバー
    margin: 0 auto;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: 0.3s ease;

    &.open {
      transform: translateX(0%);
      transition: 0.3s ease;
    }
    ul {
      margin-left: 60px;
    }
    li {
      list-style: none;
      font-size: 20px;
      font-weight: normal;
      margin: 0 0 30px 50px;
      border-bottom: #333 solid 1px;
      a {
        text-decoration: none;
        color: #f0f0f0;
      }
    }
    #menu-close {
      width: 60px;
      height: 13px;
      margin: 36px 0px 130px 300px;
    }
  }

  //HOME sp
  .fv {
    height: 890px;
    background-image: url("~@/assets/img/home-main-sp.png"),
      url("~@/assets/img/bg_kv.png");
    // background-size: 600px 640px, 560px 737px;
    background-size: 287px 640px, 560px 737px;

    .main-copy {
      //   margin: 88px 149px 256px 954px; /*top: 157-69=88*/
      margin: 134px 30px 256px 135px; /*top: 157-69=88*/

      p {
        font-size: 16px;
      }
      h1 {
        font-size: 52px;
      }
    }
  }

  .section-about {
    position: relative;
    // padding-top: 100px;
    padding-top: 74px;
    width: 100%;

    .section-about-txt {
      //   width: 590px;
      //   height: 380px;
      width: 95%;
      height: 430px;

      position: absolute;
      right: 0px;
      bottom: 100px;
      left: 0;
      margin: auto;
    }
    a {
      margin: 0 0 50px 15px;
    }
    p {
      padding: 20px;
    }
  }
  .section-about-img {
    text-align: center;

    img {
      // width: 1100px;
      width: auto;
      height: 607px;
    }
  }

  .section-w-c {
    padding: 80px 0 60px 0px;
    display: block;

    width: 100%;
    .secion-work {
      margin: 0 60px 80px 15px;
      img {
        width: 345px;
        height: auto;
      }
    }
    .secion-culture {
      margin: 0 15px;
      img {
        width: 345px;
        height: auto;
      }
    }
  }

  .section-topics {
    display: block;
    margin: 0;
    padding: 40px 0 40px 15px;

    .section-topics-left {
      text-align: left;
      margin-bottom: 30px;
    }

    .section-topics-center {
      margin: 0;
      text-align: left;
    }
  }

  .section-recruit {
    display: block;
    padding: 60px 0 120px 15px;
    background-color: $bg-color;

    .section-recruit-left {
      margin-left: 30px;

      p {
        font-weight: 16px;
        font-family: YuGothic;
        margin-bottom: 30px;
        margin-right: 80px;
      }
    }

    img {
      margin: 0;
      width: 345px;
      height: auto;
    }
    .section-recruit-right {
      margin-top: 30px;
    }
  }

  //about sp
  .fv-about-us {
    height: 460px;
    background-image: url("~@/assets/img/about-main-sp.png"),
      url("~@/assets/img/bg_kv.png"), url("~@/assets/img/black-bg.png");
    background-size: 280px 390px, 200px 460px;

    // background-position: left top, right top, left top;
    // background-repeat: no-repeat, no-repeat, no-repeat;
    // background-size: 280px 390px, 200px 460px, 280px 390px;
  }
  .main-copy {
    // margin: 88px 149px 256px 800px;
    margin: 88px 0px 256px 40px;

    p {
      //   font-size: 20px;
      font-size: 16px;
    }
    h1 {
      //   font-size: 72px;
      font-size: 52px;
    }
  }

  .vison {
    margin: 0 30px;
    padding-top: 120px;
    text-align: center;

    .vision-txt {
      display: inline-block;
      text-align: left;
    }
    h2 {
      margin-bottom: 25px;
    }
    h3 {
      font-weight: bold;
      font-size: 24px;
      font-family: YuGothic;
      margin-bottom: 27px;
    }

    p {
      font-weight: 16px;
      font-family: YuGothic;
    }
  }

  .ceo {
    margin: 0 15px;
    padding-top: 120px;
    position: relative;

    .ceo-img {
      position: absolute;
      top: 80px;
      left: -20px;
      margin: auto;
    }
    img {
      width: 340px;
      height: 280px;
    }

    .ceo-txt {
      margin: 0 0 0 auto;
      // width: 770px;
      width: 100%;
      padding: 270px 15px 120px 15px;
    }
  }

  .conpany {
    padding-top: 120px;
    // margin: 0 170px;
    margin: 0 30px;

    table {
      margin: 0 0 0 auto;
      width: 70%;
      td {
        border-bottom: solid #dddddd 1px;
        padding: 18px 0 18px 0;
      }
    }
    .table-left {
      font-weight: 16px;
      font-family: YuGothic;
      font-weight: bold;
    }
  }

  .map {
    // margin: 0 170px;
    margin: 0 30px;
    iframe {
      width: 100%;
    }
  }

  //contact sp
  .fv-contact {
    height: 460px;
    background-image: url("~@/assets/img/contact-main-sp.png"),
      url("~@/assets/img/bg_kv.png");
    background-size: 280px 390px, 200px 460px;

    .main-copy {
      //   margin: 70px 149px 256px 800px;
      margin: 70px 149px 256px 72px;
    }
  }

  .contact {
    // width: 70%;
    width: 90%;

    form {
      .form-radio {
        display: flex;
        flex-direction: column;
      }
      .form-under {
        label {
          text-align: left;
        }
      }
    }
  }
}
// spここまで---
